@import "compass/reset";
@import "compass/utilities";
@import "compass/typography";
@import "compass/layout";
@import "compass/css3";

$width: 960px;
$dark: #b3b3b3;
$body: #555;
$accent: #f56912;

body{
	background: lighten($dark, 24%);
	color:$body;
}

a {color: lighten($accent, 10%);}
a:hover {color: darken($accent, 10%);}
a:visited {color: lighten($accent, 10%);}
a:active {color: darken($accent, 20%);}

#wrapper{
	margin: 50px auto 0;
	width: $width;
	background: lighten($dark, 50%);
	padding: 30px;
	@include border-radius(5px);
	
}

#header{
	color:$accent;
}

#content{
}

.column{
	width: $width /2;
	background: lighten($dark, 28%);
	color: darken($accent, 40%);
	margin:5px;
	padding:10px;
	@include border-radius(2px);
}

.column, .first{
	margin-left:none;
}

.column, .last{
	margin-right:none;
}


#footer{
	margin-top:20px;
}
	ul,li{display:inline;list-style: none;}